.popup {
    background-color: white;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    position: absolute;
    display: none;
    box-shadow: 0 10px 30px $ltgray;

    &:before {
        content: '\f0d8';
        font-family: fontAwesome;
        position: absolute;
        left: calc(50% - 25px);
        font-size: 40px;
        display: block;
        top: -23px;
        color: white;
    }

    input {
        padding: 10px 7px;
        border-radius: 3px;
        font-size: 14px;
        width: 90%;
        box-shadow: none;
        border: 1px solid $ltgray;
    }

    h3 {
        font-size: 16px;
    }

    ol {
        list-style-type: decimal;
        padding-left: 25px;
    }

    li {
        font-family: $gotham;
        font-size: 14px;
        color: $dkgray;
        padding-left: 10px;
        margin-bottom: 20px;
        line-height: 22px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
