.tab-section {
    margin: 50px 0 80px;

}

ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabs {
    li {
        background: none;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }

    .scss {
        color: #c69;
    }

    .js {
        color: #ccb710;
    }

    .gulp {
        color: #CF4647;
    }

    .package {
        color: #C12127;
    }
}

ul.tabs li.current {
    background: white;

}

.tab-content {
    display: none;
    background: white;
    padding: 15px;
    color: $dkblue3;
    line-height: 28px;
    resize: both;
}

.tab-content.current {
    display: inherit;
}
