// //////////////////////
// VARIABLES
// //////////////////////
$blue: #008cc3;
$bluehover: #096f93;
$dkblue1: #23282b;
$dkblue2: #32393e;
$dkblue3: #1b1f22;
$gray: #ebebeb;
$dkgray: #68767f;
$mdgray: #788891;
$ltgray: #c3cace;
$light: #f2f3f4;
$green: #00a846;
$greenhover: #108b2d;
$yellow: #f0b428;
$grayborder: #c3cace;
$gotham: "Gotham SSm A", "Gotham SSm B", 'Gotham', Helvetica, Arial, sans-serif;
// $vitesse: "Vitesse A", "Vitesse B", 'Vitesse', Helvetica, Arial, sans-serif;
$forza: "Forza A", "Forza B", 'Forza', Helvetica, Arial, sans-serif;
$fontAwesome: "FontAwesome";

$section-padding: 65px 35px;
$mobile-column-padding: 15px;
