// /////////////////////////////////////
// FORM STYLES
// ////////////////////////////////////

div.lpeCElement {
	position: relative !important;
	width: 100% !important;
	max-width: 760px;
	top: 0 !important;
	left: 0 !important;
	margin: 0 auto !important;
}

.mktoForm {
	padding: 0 !important;
	@include mobile {
		padding: 0 !important;
	}
}

.mktoForm .mktoError {
	right: 0 !important;
	bottom: -15px!important;
}

.mktoForm .mktoAsterix,
.mktoForm.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
	display: inline-block !important;
	padding-right: 0 !important;
	padding-left: 5px !important;
	float: none !important;
	color: #ebebeb !important;
}

.mktoForm .mktoError .mktoErrorArrowWrap {
	display: none !important;
}

.mktoForm .mktoError .mktoErrorMsg {
	margin: 0 !important;
	padding: 0 !important;
	max-width: 100% !important;
	background-color: transparent !important;
	background-image: none !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	text-shadow: none !important;
	color: #bbb !important;
	font-size: 11px !important;
	border: 0 !important;
}

.mktoForm .mktoError .mktoErrorMsg .mktoErrorDetail {
	display: initial !important;
}

.mktoForm .mktoClear {
	display: none !important;
}

.mktoForm {
	text-align: left;
	width: 100% !important;
}

.mktoForm .mktoFormRow {
	clear: none !important;
}

.mktoForm .mktoFormRow.fullWidthCol,
.mktoForm .mktoFormRow.fullWidthRow {
	width: 100% !important;
	clear: both;
}

.mktoForm .mktoFormCol {
	margin: 0 3% 15px 0 !important;
	width: 47% !important;
	float: left !important;
}

.mktoForm .mktoFormRow.fullWidthCol .mktoFormCol {
	margin: 0 3% 15px 0 !important;
	width: 100% !important;
	float: left !important;
}

.mktoForm .mktoFieldWrap {
	width: 100% !important;
	padding: 0 !important;
}

.mktoForm .mktoHtmlText {
	width: 100% !important;
}

.mktoForm .mktoOffset {
	display: none !important;
}

.mktoForm .mktoLabel,
.mktoForm .mktoRequiredField label.mktoLabel {
	font-family: $gotham !important;
	font-weight: 300 !important;
	color: #fff !important;
	font-size: 12px !important;
	line-height: 150% !important;
	width: 100% !important;
	float: none !important;
	text-transform: uppercase;
}

.mktoForm.mktoLayoutAbove .mktoField,
.mktoForm.mktoLayoutAbove .mktoLogicalField {
	width: 100% !important;
}

.mktoForm input[type=date],
.mktoForm input[type=email],
.mktoForm input[type=number],
.mktoForm input[type=tel],
.mktoForm input[type=text],
.mktoForm input[type=url] {
	display: block !important;
	width: 100% !important;
	height: 32px !important;
	padding: 6px 8px !important;
	font-family: $gotham !important;
	font-size: 16px !important;
	margin-top: 2px !important;
	background: #fff !important;
	border: 1px solid #b0b9bf !important;
	outline: 0 !important;
	border-radius: 2px !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	color: #23282b !important;
	font-weight: 400 !important;
	opacity: 0.8;
}

.mktoForm select.mktoField {
	display: block !important;
	width: 100% !important;
	height: 32px !important;
	padding: 6px 8px !important;
	font-family: $gotham !important;
	font-size: 16px !important;
	margin-top: 2px !important;
	background: #fff !important;
	border: 1px solid #b0b9bf !important;
	outline: 0 !important;
	border-radius: 2px !important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	color: #23282b !important;
	font-weight: 400 !important;
	opacity: 0.8;
}

.mktoForm.mktoLayoutAbove textarea.mktoField {
	display: block !important;
	width: 98% !important;
	height: 120px !important;
	padding: 2px 8px 6px !important;
	font-family: $gotham !important;
	font-size: 16px !important;
	margin-top: 3px !important;
	background: #fff !important;
	border: 1px solid #b0b9bf !important;
	outline: 0 !important;
	border-radius: 2px !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	color: #23282b !important;
	font-weight: 400 !important;
	opacity: 0.8;
}

.mktoForm input:focus,
.mktoForm.mktoLayoutAbove select.mktoField:focus,
.mktoForm.mktoLayoutAbove textarea.mktoField:focus {
	outline: 0 !important;
	background: #ffffff !important;
	border: 1px solid #13759b !important;
	opacity: 1;
}

.mktoForm .fullWidthCol hr {
	width: 98%;
	max-width: none;
	height: 1px;
	background: #9da9af;
	border: 0;
	outline: 0;
	margin: 10px 0 0;
	padding: 0;
}

.mktoButtonRow {
	width: 100% !important;
	padding: 0 8px 10px 0 !important;
}

.mktoButtonRow::after {
	content: "";
	display: block;
	width: 100%;
	height: 10px;
}

.mktoButtonWrap {
	margin: 0 !important;
	padding: 0 !important;
	display: block;
}

.mktoForm button.mktoButton {
	width: auto !important;
	min-width: 200px;
	padding: 0 24px !important;
	height: 48px !important;
	border: 2px solid #13aa37 !important;
	border-collapse: collapse !important;
	border-radius: 4px !important;
	text-align: center !important;
	text-transform: uppercase !important;
	background-color: #13aa37 !important;
	font-family: $gotham !important;
	font-weight: 600!important;
	font-size: 16px !important;
	font-size: 1rem !important;
	color: #fff !important;
	background-image: none !important;
	@include transition(all .3s ease);

	&:hover {
		background-color: #108b2d !important;
		border: 2px solid #108b2d !important;
		color: #fff !important;
	}

	&:focus {
		background-color: #108b2d !important;
		border: 2px solid #108b2d !important;
		outline: 0;
	}
}

.confirmationMessage {
	display: none;
	@include animation( 'modal-rise .4s ease-out');
}
// /////////////////////
// FORM MEDIA QUERIES
// ////////////////////
@media all and (max-width: 480px) {
	.mktoForm .mktoFormCol {
		width: 100% !important;
	}

	.mktoForm button.mktoButton,
	a.ctaButton {
		width: 100% !important;
	}
}
