.main-nav {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    background-color: $light;
    border-right: 1px solid $ltgray;

    .logo {
        border-bottom: 1px solid $ltgray;

        img {
            width: 100%;
            padding: 0 15px;
            margin: 13px auto 10px;
        }
    }

    .nav {
        padding: 15px 0 0 15px;

        .nav-item {
            list-style-type: none;
            text-align: left;

            &:active {
                background-color: $ltgray;
            }
        }

        a {
            color: $dkblue1;
            font-size: 14px;
            line-height: 35px;
        }
    }
}
